.order {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  width: 940px;
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 7px;
}
