.item-block {
  background-color: rgb(244, 244, 244);
  width: 230px;
  height: 360px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 9px;
  text-align: center;
}

.item-block h4 {
  width: 210px;
  height: 20px;
}
.item-block img {
  margin-top: 10px;
  border-radius: 9px;
  height: 210px;
  width: 210px;
  object-fit: cover;
  overflow: hidden;
}

.item-block-price {
  margin-top: -70px;
  width: 220px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
}

.item-block-price button {
  background-color: rgb(255, 255, 255);
}
.item-block-price p {
  text-decoration-line: line-through;
  font-size: 12px;
}

.item-block-price-bg {
  text-align: center;
  margin-left: 10px;
  width: 130px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
}
