.header {
  /* outline: auto; */
  height: 70px;
  width: 1220px;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
}
.header-left {
  display: grid;
  grid-template-columns: 180px 400px 100px 100px;
}
