.header {
  /* outline: auto; */
  height: 70px;
  width: 1220px;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-left {
  display: grid;
  width: 550px;
  grid-template-columns: 200px 350px;
}
.header-right {
  display: grid;
  width: 240px;
  grid-template-columns: 120px 120px;
}
